**NAMA : IMA RISTIANI**

**NIM : 2000015027**

**PRODI : MATEMATIKA**

##Variabel

###Variabel

Variables : Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat-syarat penamaan variabel:
1. Karakter-karakter yang digunakan untuk penamaan variabel adalah alphabet, angka dan underscore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if, dan lainnya.
4. Karakter pada nama variabel bersifat sensitif (case-sensitif).

In [1]:
# membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)

ini adalah variabel
4
2.5

###Tipe Data

5 tipe data, yaitu:

1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [7]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

###Konversi Tipe Data

Syntax konversi tipe data:

1. Integer = `int()`
2. Float = `float()`
3. String = `str()`
4. Boolean = `bool()`
5. Complex = `complex()`

In [3]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [2]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [6]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [5]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [4]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)